<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
    <span>Sinemalar.com</span>
    <span class="flex-spacer"></span>
    <form>
      <input>
      <mat-icon>search</mat-icon>
    </form>
    <span class="flex-spacer"></span>
    <button mat-button>Üye Girişi</button>
  </mat-toolbar-row>
  <mat-toolbar-row class="tab-row">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of links"
         (click)="activeLink = link"
         [active]="activeLink == link"> {{link}} </a>
      <a mat-tab-link disabled>Disabled Link</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div class="items">
    <div class="viz-item" *ngFor="let item of visionItems">
      <img src="{{item.img}}" alt="">
      <div class="item-title">{{item.title}}</div>
    </div>
  </div>
</div>
